In [5]:
import numpy as np
import pandas as pd
import yfinance as yf
import matplotlib.pyplot as plt
from pathlib import Path

# define data path
Path("data").mkdir(parents=True, exist_ok=True)

In [6]:
# get dataframe from the previous step
df = pd.read_pickle("pairs_to_download.pkl")

tickerStrings = list(df.index.union(df.columns))
tickerStrings

['ADAUSDT',
 'BTCUSDT',
 'DOGEUSDT',
 'DOTUSDT',
 'EOSUSDT',
 'ETHUSDT',
 'LINKUSDT',
 'LTCUSDT',
 'NEARUSDT',
 'NEOUSDT',
 'SOLUSDT',
 'TRXUSDT',
 'UNIUSDT',
 'VETUSDT',
 'XLMUSDT',
 'XRPUSDT']

In [9]:
tickerStrings = ['ADA-USD','BTC-USD',
 'DOGE-USD',
 'DOT-USD',
 'EOS-USD',
 'ETH-USD',
 'LINK-USD',
 'LTC-USD',
 'NEAR-USD',
 'NEO-USD',
 'SOL-USD',
 'TRX-USD',
 'UNI-USD',
 'VET-USD',
 'XLM-USD',
 'XRP-USD']

In [10]:
int_per = {'1d':'1y', '1h':'1y'}  # define interval and corresponding period

In [11]:
# int_per = {'1d':'3mo', '1h':'3mo'}  # define interval and corresponding period


# enable to enter manually
#tickerStrings = ['MA', 'V', 'LNT', 'FTS', 'POR', 'CMS', 'OUT', 'WELL']

for ticker in tickerStrings:
    for key in int_per:
        data = yf.download(ticker, group_by="Ticker", period=int_per[key], interval=key)
        data['ticker'] = ticker
        data.set_index(data.columns[0]) # datetime row comes with different names or unnamed
        data.index.names = ['time']
    
        # use in need of sorting and renaming
        #data = data.set_index(["time"]).sort_index()
        #data = data.rename(columns={"Date": "time"})

        # save as seperate files
        data.to_csv(f'data/{ticker}_{key.upper()}.csv')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [12]:
filename = 'data/' +  tickerStrings[0] + '_1H.csv'
df = pd.read_csv(filename, parse_dates=["time"])
df

,time,Open,High,Low,Close,Adj Close,Volume,ticker
0,2022-05-26 09:00:00+00:00,0.484390,0.491911,0.482705,0.489051,0.489051,0,ADA-USD
1,2022-05-26 10:00:00+00:00,0.489109,0.490718,0.488293,0.488809,0.488809,7481152,ADA-USD
2,2022-05-26 11:00:00+00:00,0.488604,0.488604,0.483240,0.485659,0.485659,12305472,ADA-USD
3,2022-05-26 12:00:00+00:00,0.485572,0.488362,0.482049,0.483661,0.483661,18044544,ADA-USD
4,2022-05-26 13:00:00+00:00,0.483609,0.484120,0.466368,0.480795,0.480795,84840960,ADA-USD
...,...,...,...,...,...,...,...,...
8673,2023-05-26 05:00:00+00:00,0.356767,0.357045,0.355720,0.355785,0.355785,0,ADA-USD
8674,2023-05-26 06:00:00+00:00,0.355873,0.357828,0.355722,0.357828,0.357828,0,ADA-USD
8675,2023-05-26 07:00:00+00:00,0.357854,0.358321,0.357570,0.358217,0.358217,1232688,ADA-USD
8676,2023-05-26 08:00:00+00:00,0.358231,0.358426,0.358106,0.358279,0.358279,966064,ADA-USD
8677,2023-05-26 09:00:00+00:00,0.358277,0.358286,0.357868,0.358019,0.358019,579648,ADA-USD

OPTION 2 (DOWNLOAD & CREATE SINGLE DF FROM ALL TICKERS)

In [13]:
# int_per = {'1d':'1y', '1h':'1y'}  # define interval and corresponding period

df_list = list()

for key in int_per:
    for ticker in tickerStrings:
        data = yf.download(ticker, group_by="Ticker", period=int_per[key], interval=key)
        data['ticker'] = ticker
        data.index.names = ['time']
        df_list.append(data)

    # combine all dataframes into a single dataframe
    df = pd.concat(df_list)

    # save to csv
    df.to_csv('data/tickers_'+key.upper()+'.csv')
    
    df_list = []

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [14]:
filename = 'data/tickers_1H.csv'
df = pd.read_csv(filename, parse_dates=["time"])

In [15]:
df_c = df.set_index(["ticker", "time"]).sort_index() # set indexes
df_c
df_c.xs(tickerStrings[0]) # check the first ticker

,Open,High,Low,Close,Adj Close,Volume
time,,,,,,
2022-05-26 09:00:00+00:00,0.484390,0.491911,0.482705,0.489051,0.489051,0
2022-05-26 10:00:00+00:00,0.489109,0.490718,0.488293,0.488809,0.488809,7481152
2022-05-26 11:00:00+00:00,0.488604,0.488604,0.483240,0.485659,0.485659,12305472
2022-05-26 12:00:00+00:00,0.485572,0.488362,0.482049,0.483661,0.483661,18044544
2022-05-26 13:00:00+00:00,0.483609,0.484120,0.466368,0.480795,0.480795,84840960
...,...,...,...,...,...,...
2023-05-26 05:00:00+00:00,0.356767,0.357045,0.355720,0.355785,0.355785,0
2023-05-26 06:00:00+00:00,0.355873,0.357828,0.355722,0.357828,0.357828,0
2023-05-26 07:00:00+00:00,0.357854,0.358321,0.357570,0.358217,0.358217,1232688
2023-05-26 08:00:00+00:00,0.358231,0.358426,0.358106,0.358279,0.358279,966064
2023-05-26 09:00:00+00:00,0.358277,0.358286,0.357868,0.358032,0.358032,579648

EXERCISE (DOWNLOAD MULTIPLE TICKERS AND FLATTEN THE LEVELS )

In [16]:
data = yf.download(  # or pdr.get_data_yahoo(...
        # tickers list or string as well
        tickers = "OUT WELL",

        # use "period" instead of start/end
        # valid periods: 1d,5d,1mo,3mo,6mo,1y,2y,5y,10y,ytd,max
        # (optional, default is '1mo')
        period = "1mo",

        # fetch data by interval (including intraday if period < 60 days)
        # valid intervals: 1m,2m,5m,15m,30m,60m,90m,1h,1d,5d,1wk,1mo,3mo
        # (optional, default is '1d')
        interval = "30m",

        # group by ticker (to access via data['SPY'])
        # (optional, default is 'column')
        group_by = 'ticker',

        # adjust all OHLC automatically
        # (optional, default is False)
        auto_adjust = True,

        # download pre/post regular market hours data
        # (optional, default is False)
        prepost = False,

        # use threads for mass downloading? (True/False/Integer)
        # (optional, default is True)
        threads = True,

        # proxy URL scheme use use when downloading?
        # (optional, default is None)
        proxy = None
    )
data

[*********************100%***********************]  2 of 2 completed

                           OUT
                          Open       High        Low      Close  Volume
Datetime
2023-04-26 09:30:00  16.190001  16.320000  16.080000  16.139999   29311  \
2023-04-26 10:00:00  16.160000  16.264999  16.110001  16.169001   29053
2023-04-26 10:30:00  16.190001  16.240000  16.150000  16.240000   30644
2023-04-26 11:00:00  16.240000  16.270000  16.209999  16.209999   22645
2023-04-26 11:30:00  16.215000  16.230000  16.174999  16.200001   30391
...                        ...        ...        ...        ...     ...
2023-05-25 13:30:00  14.130000  14.160000  14.125000  14.130000   76727
2023-05-25 14:00:00  14.135000  14.200000  14.115000  14.120000   74378
2023-05-25 14:30:00  14.120000  14.130000  14.060000  14.095000   65991
2023-05-25 15:00:00  14.100000  14.150000  14.085000  14.125000  142265
2023-05-25 15:30:00  14.125000  14.135000  14.045000  14.100000  396701

                          WELL
                          Open       High        Low      Close  Volume
Datetime
2023-04-26 09:30:00  76.099998  76.940002  75.919998  76.285004  106603
2023-04-26 10:00:00  76.305000  76.529999  76.269997  76.485001  129617
2023-04-26 10:30:00  76.485001  76.720001  76.230003  76.690002  193327
2023-04-26 11:00:00  76.699997  76.769997  76.489998  76.620003  201871
2023-04-26 11:30:00  76.639999  76.650002  76.457001  76.550003   72049
...                        ...        ...        ...        ...     ...
2023-05-25 13:30:00  73.809998  74.035004  73.779999  73.864998   64725
2023-05-25 14:00:00  73.864998  74.139999  73.849998  73.919998   91140
2023-05-25 14:30:00  73.915001  73.915001  73.669998  73.860001   75246
2023-05-25 15:00:00  73.894997  74.029999  73.750000  74.010002  128157
2023-05-25 15:30:00  74.013802  74.260002  73.589996  73.599998  370406

[286 rows x 10 columns]

In [17]:
data_flat = data.copy()
data_flat.columns = data_flat.columns.map('_'.join)
data_flat =data_flat.reset_index()
data_flat

,Datetime,OUT_Open,OUT_High,OUT_Low,OUT_Close,OUT_Volume,WELL_Open,WELL_High,WELL_Low,WELL_Close,WELL_Volume
0,2023-04-26 09:30:00,16.190001,16.320000,16.080000,16.139999,29311,76.099998,76.940002,75.919998,76.285004,106603
1,2023-04-26 10:00:00,16.160000,16.264999,16.110001,16.169001,29053,76.305000,76.529999,76.269997,76.485001,129617
2,2023-04-26 10:30:00,16.190001,16.240000,16.150000,16.240000,30644,76.485001,76.720001,76.230003,76.690002,193327
3,2023-04-26 11:00:00,16.240000,16.270000,16.209999,16.209999,22645,76.699997,76.769997,76.489998,76.620003,201871
4,2023-04-26 11:30:00,16.215000,16.230000,16.174999,16.200001,30391,76.639999,76.650002,76.457001,76.550003,72049
...,...,...,...,...,...,...,...,...,...,...,...
281,2023-05-25 13:30:00,14.130000,14.160000,14.125000,14.130000,76727,73.809998,74.035004,73.779999,73.864998,64725
282,2023-05-25 14:00:00,14.135000,14.200000,14.115000,14.120000,74378,73.864998,74.139999,73.849998,73.919998,91140
283,2023-05-25 14:30:00,14.120000,14.130000,14.060000,14.095000,65991,73.915001,73.915001,73.669998,73.860001,75246
284,2023-05-25 15:00:00,14.100000,14.150000,14.085000,14.125000,142265,73.894997,74.029999,73.750000,74.010002,128157
285,2023-05-25 15:30:00,14.125000,14.135000,14.045000,14.100000,396701,74.013802,74.260002,73.589996,73.599998,370406

In [ ]:
multiindex = data.columns
ticker_list = set([item[0] for item in multiindex])

for ticker in ticker_list:
    data_i = data[(ticker, 'Close')].reset_index().droplevel(level=0, axis=1)
    data_i = data_i.rename(columns={ data_i.columns[0]: "time" })
    data_i = data_i.set_index(["time"]).sort_index()
    #save as seperate files
    data_i.to_csv(f'data/ticker_{ticker}.csv')